/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #083B4B;
}

/* Title */

h1 {
    color: white;
    text-align: center;
    margin: 30px 0;
    font-size: 4rem;
}

/* List */

#custom_ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
}

/* Box Styles */

.box {
    text-align: center;
    line-height: 100px;
    background-color: #1289B2;
    width: 100px;
    height: 100px;
}

.box.fizz {
    background-color: #08D6A0;
}

.box.buzz {
    background-color: #FFD166;
}

.box.fizzbuzz {
    background-color: #F0466F;
}